body {
    display: flex;
    background: linear-gradient(30deg, rgba(143,205,255,1) 0%, rgba(254,255,166,1) 100%);
    font-family: sans-serif, Arial, Helvetica;
  }
  #container{
    display: flex;
    width: 500px;
    background: white;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 20px;
  }
  blockquote {
    min-height: 140px;
    min-width: 500px;
    margin: 0;
  }
  #text {
    font-size: 23px;
    font-weight: bold;
  }
  #author {
    text-align: right;
    font-size: 15px;
  }
  
  #btn_container {
    display: flex;
    justify-content: center;
  }
  #new-quote, #tweet-quote {
    text-decoration: none;
    box-shadow: 0px 0px 2px grey;
    padding: 5px 20px;
    margin: 0 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
  }
  #new-quote {
    background: linear-gradient(to left bottom, #0a57ca, #008ff3, #00b9d2, #00d980, #b2eb12);
  }
  #new-quote:hover {
    background: linear-gradient(to right top, #0a57ca, #008ff3, #00b9d2, #00d980, #b2eb12);
  }
  #tweet-quote {
    background: linear-gradient(to left bottom, #f94ede, #ff489d, #ff7a5b, #ffb519, #ebe812);
  }
  #tweet-quote:hover {
    background: linear-gradient(to right top, #f94ede, #ff489d, #ff7a5b, #ffb519, #ebe812);
  }